/panel/.vs/
/panel/panel/bin/
/panel/panel/obj/
/.vscode/
/client/.vscode/
/server/.vscode/
/test/
/pic/
/bin/
/server/*.exe
/server/Log/
/server/payload.yaml
/server/config.yaml
/features.md
/.idea/
/client/.idea/
/server/.idea/
/Update.txt
/server/root.*
/server/server.*
/server/fullchain.pem